### Sets:

- A set is an unordered collection of elements without duplicate entries. 
- When printed, iterated or converted into a sequence, its elements will appear in an arbitrary order.

In [14]:
print(set())
print(set("HackerRank"))
print(set([1,2,3,4,5,6,0,9,12,22,3]))
print(set((1,2,3,4,5,5)))
print(set(set(['H','a','c','k','e','r','r','a','n','k'])))

set()
{'n', 'e', 'H', 'r', 'k', 'c', 'R', 'a'}
{0, 1, 2, 3, 4, 5, 6, 9, 12, 22}
{1, 2, 3, 4, 5}
{'n', 'e', 'H', 'k', 'c', 'r', 'a'}

In [1]:
# 1. If input given in a single line sepearated by space characters
s = input().split() # here we are splitting by blank spaces
print(s)

5  4 3 2
['5', '4', '3', '2']

In [6]:
# 2. If the list values are string you have to convert the string values to int values
#    Use map(int,list)->method to convert all the string values to the integers
new_list = map(int,s)
print(new_list) # <map object at 0x000002400B1F5320>

# Here we have to note that map() function returns a map object
# We have to convert the map object to corresponding list,tuples and so on.
print(list(new_list)) #[5, 4, 3, 2]

<map object at 0x000002400B1F52B0>
[5, 4, 3, 2]

#### 1.Creating a set:

In [1]:
myset={1,2} # Directly assign value to the set
print(myset)
myset = set() # Initializing a set
myset = set(['a','b']) # Creating a set from a list
print(myset)

{1, 2}
{'a', 'b'}

#### 2.Modify set using add() function:

In [4]:
myset.add('c')
print(myset) # {'a', 'b', 'c'}
myset.add('a') # 'a' already exists in the set so its not added into the set
myset.add((5,4))
print(myset) # {(5, 4), 'a', 'b', 'c'}

{(5, 4), 'a', 'b', 'c'}
{(5, 4), 'a', 'b', 'c'}

#### 3.update() function:

In [17]:
myset.update([1,2,3,4]) # update() -> only works for iterable object
print(myset) # {1, (5, 4), 'b', 2, 3, 4, 'a', 'c'}
myset.update({1,6},[5,13])
print(myset) # {1, (5, 4), 'b', 2, 3, 4, 6, 5, 'a', 13, 'c'}

{1, (5, 4), 'b', 2, 3, 4, 6, 5, 'a', 13, 'c'}
{1, (5, 4), 'b', 2, 3, 4, 6, 5, 'a', 13, 'c'}

#### 4.Removing items:
- discard() -> when element to be deleted from set -> not present in set -> Does nothing
- remove() -> when element to be deleted from set -> not present in set -> Raises Error Exception

In [21]:
myset.discard(10)
print(myset)
myset.remove(13)
print(myset) #{1, (5, 4), 'b', 2, 3, 4, 6, 5, 'a', 'c'}

{1, (5, 4), 'b', 2, 3, 4, 6, 5, 'a', 13, 'c'}
{1, (5, 4), 'b', 2, 3, 4, 6, 5, 'a', 'c'}

#### 5.Common Set Operation Using union(),intersection(),difference() function:

In [25]:
a = {2,4,5,9}
b = {2,4,11,12}
print(a.union(b)) # Value which exists in a or b

# {2,4,5,9,11,12}
print(a.intersection(b)) # {2, 4, 5, 9, 11, 12}
# Value exists in a and b

print(a.difference(b)) # Value which exist in 'a' but not in 'b'
# {9, 5}

{2, 4, 5, 9, 11, 12}
{2, 4}
{9, 5}

#### Symmetric Function:
- union(),intersection() functions are symmetric functions

Task 
Given  sets of integers,  and , print their symmetric difference in ascending order. The term symmetric difference indicates those values that exist in either  or  but do not exist in both.

Input Format

The first line of input contains an integer, . 
The second line contains  space-separated integers. 
The third line contains an integer, . 
The fourth line contains  space-separated integers.

Output Format

Output the symmetric difference integers in ascending order, one per line.

Sample Input

4
2 4 5 9
4
2 4 11 12

Sample Output

5
9
11
12

In [28]:
print(a.union(b) == b.union(a))
# True
print(a.intersection(b) == b.intersection(a))
# True
print(a.difference(b) == b.difference(a))
# False

True
True
False

In [6]:
input()
s1 = set(map(int,input().split()))
input()
s2 = set(map(int,input().split()))
ss = sorted(s1^s2) # To make the list in the sorted order
for i in ss:
    print(i)

4
1 2 3 4
4
3 4 5 6
1
2
5
6

In [8]:
input()
a = set(map(int,input().split()))
input()
b = set(map(int,input().split()))

for i in sorted(a.difference(b).union(b.difference(a))):
    print(i)

4
1 2 3 4
4
3 4 5 6
1
2
5
6

There is an array of  integers. There are also  disjoint sets,  and , each containing  integers. You like all the integers in set  and dislike all the integers in set . Your initial happiness is . For each  integer in the array, if , you add  to your happiness. If , you add  to your happiness. Otherwise, your happiness does not change. Output your final happiness at the end.

Note: Since  and  are sets, they have no repeated elements. However, the array might contain duplicate elements.

Constraints 
 
 

Input Format

The first line contains integers  and  separated by a space. 
The second line contains  integers, the elements of the array. 
The third and fourth lines contain  integers,  and , respectively.

Output Format

Output a single integer, your total happiness.

Sample Input

3 2
1 5 3
3 1
5 7
Sample Output

1
Explanation

You gain  unit of happiness for elements  and  in set . You lose  unit for  in set . The element  in set does not exist in the array so it is not included in the calculation.

Hence, the total happiness is 1

In [1]:
input()
arr = input().split()
set1 = set(input().split())
set2 = set(input().split())

h = 0
for i in arr:
    if(i in set1):
        h+=1
    if(i in set2):
        h-=1
print(h)

3 2
1 5 3
3 1
5 7
1

In [ ]:
n = int(input())
s = set()
for i in range(0,n):
    s.add(input())

print(len(s))

7
UK
China
 USA
France
New Zealand
UK
France
5

#### pop():
- Removes and returns an arbitrary element from a set.
- If there are no elements to remove, it raises a keyError.

In [ ]:
s = set([1])
print(s.pop()) #1
print(s) # set([])
print(s.pop()) # KeyError: pop from an empty list